.carousel-inner img {
  max-height: 400px; /* altura máxima */
  object-fit: cover; /* mantiene proporción y recorta si sobra */
}

a{
    text-decoration: none;
    color: rgb(96, 8, 94);
}

/* Fondo y borde normal */
.form-control {
  background-color: #d0e4f7;   /* color de fondo */
  border: 2px solid #35c209;  /* color del borde (azul Bootstrap) */
  color: #ad037a;             /* color del texto */
}

/* Cambiar el placeholder */
.form-control::placeholder {
  color: #6a23a5;   /* gris */
  opacity: 1;
}

/* Cuando el input está enfocado (seleccionado) */
.form-control:focus {
  background-color: #fff3cd;   /* fondo amarillo suave */
  border-color: #01f3f3;       /* borde amarillo */
  box-shadow: 0 0 0 0.25rem rgba(252, 81, 2, 0.5); /* resplandor */
}
